.dots ::deep ul {
    display: flex;
    padding: 0;
}
.dots ::deep li {
    list-style: none;
}

::deep .slick-slide {
    padding: 0 1rem;
}
::deep .slick-slide > div{
    min-height: 300px;
    background-color: beige;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
::deep .slick-list {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}