@page "/responsive"

<div>

    <h1>Blazor Slick Carousel Demo</h1>
    <h2>Responsive implementation demo.</h2>

    <br><hr><br>

    <BlazorSlickCarousel @ref="theCarousel" Configurations="configurations" >
        <BlazorSlickCarouselContent>
            <img src="https://loremflickr.com/400/400?random=47" alt="">
            <img src="https://loremflickr.com/400/400?random=48" alt="">
            <img src="https://loremflickr.com/400/400?random=49" alt="">
            <img src="https://loremflickr.com/400/400?random=50" alt="">
            <img src="https://loremflickr.com/400/400?random=51" alt="">
            <img src="https://loremflickr.com/400/400?random=52" alt="">
            <img src="https://loremflickr.com/400/400?random=53" alt="">
            <img src="https://loremflickr.com/400/400?random=54" alt="">
        </BlazorSlickCarouselContent>
        <BlazorSlickCarouselLoading>
            <p>Loading...</p>
        </BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>

    <br><br><br>
    
</div>

@code {
    public BlazorSlickCarousel theCarousel;
    public WMBSCInitialSettings configurations;

    protected override void OnInitialized()
    {
        // to <= 800px screen
        WMBSCSettings breakpoint800Settings = new WMBSCSettings {
            slidesToShow = 2,
            arrows = true,
            dots = true
        };
        WMBSCResponsiveSettings breakpoint800Responsive = new WMBSCResponsiveSettings {
            breakpoint = 800,
            settings = breakpoint800Settings
        };

        // to <= 400px screen
        WMBSCSettings breakpoint400Settings = new WMBSCSettings {
            slidesToShow = 1,
            arrows = true
        };
        WMBSCResponsiveSettings breakpoint400Responsive = new WMBSCResponsiveSettings {
            breakpoint = 400,
            settings = breakpoint400Settings
        };

        // add responsivity
        List<WMBSCResponsiveSettings> responsiveSettingsList = new List<WMBSCResponsiveSettings>();
        responsiveSettingsList.Add(breakpoint800Responsive);
        responsiveSettingsList.Add(breakpoint400Responsive);

        // the carousel configurations
        configurations = new WMBSCInitialSettings {
            arrows = true,
            dots = true,
            slidesToShow = 3,
            slidesToScroll = 3,
            infinite = false,
            responsive = responsiveSettingsList
        };
    }
}
