<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="home">Blazor Carousel Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="basic" Match="NavLinkMatch.All">Basic Usage</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="html-content">Html Content</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="custom-settings">Custom settings</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="responsive">Responsive</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lazy-load">Lazy Load</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="methods">Methods</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="callbacks">Callbacks</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="full-example">Full Example</NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
