<div class="WMBSC loading">
    <div class="WMBSC-content" @ref="WMBSCReference">@BlazorSlickCarouselContent</div>
    @if (BlazorSlickCarouselLoading == null)
    {
        <div class="WMBSC-loading">Loading...</div>
    }
    else
    {
        <div class="WMBSC-loading">@BlazorSlickCarouselLoading</div>
    }
</div>

@using Microsoft.JSInterop

@code {
    [Parameter]
    public RenderFragment BlazorSlickCarouselContent { get; set; }

    [Parameter]
    public RenderFragment BlazorSlickCarouselLoading { get; set; }

    [Parameter]
    public bool addJquery { get; set; }

    [Parameter]
    public WMBSCConfigurations Configurations { get; set; }

    [Inject]
    protected IJSRuntime jsRuntime { get; set; }

    [Inject]
    protected IWMBSC TheWMBSC { get; set; }

    ElementReference WMBSCReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            System.Console.WriteLine("OnAfterRenderAsync");
            await TheWMBSC.Init(WMBSCReference, Configurations);
        }
    }
}