@import '';

/* _content/WMBlazorSlickCarousel/WMBSC/BlazorSlickCarousel.razor.rz.scp.css */
.WMBSC[b-zgymt9fpr0] {
    width: auto;
}
.WMBSC .WMBSC-loading[b-zgymt9fpr0] {
    display: none;
}
.WMBSC.loading .WMBSC-content[b-zgymt9fpr0] {
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: relative;
}
.WMBSC.loading .WMBSC-loading[b-zgymt9fpr0] {
    display: block;
}
.WMBSC[b-zgymt9fpr0]  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.WMBSC[b-zgymt9fpr0]  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.WMBSC[b-zgymt9fpr0]  .slick-list:focus {
    outline: none;
}
.WMBSC[b-zgymt9fpr0]  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.WMBSC[b-zgymt9fpr0]  .slick-slider .slick-track,
.WMBSC[b-zgymt9fpr0]  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.WMBSC[b-zgymt9fpr0]  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.WMBSC[b-zgymt9fpr0]  .slick-track:before,
.WMBSC[b-zgymt9fpr0]  .slick-track:after {
    display: table;
    content: "";
}
.WMBSC[b-zgymt9fpr0]  .slick-track:after {
    clear: both;
}
.WMBSC[b-zgymt9fpr0]  .slick-loading .slick-track {
    visibility: hidden;
}
.WMBSC[b-zgymt9fpr0]  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.WMBSC[b-zgymt9fpr0]  [dir="rtl"] .slick-slide {
    float: right;
}
.WMBSC[b-zgymt9fpr0]  .slick-slide img {
    display: block;
}
.WMBSC[b-zgymt9fpr0]  .slick-slide.slick-loading img {
    display: none;
}
.WMBSC[b-zgymt9fpr0]  .slick-slide.dragging img {
    pointer-events: none;
}
.WMBSC[b-zgymt9fpr0]  .slick-initialized .slick-slide {
    display: block;
}
.WMBSC[b-zgymt9fpr0]  .slick-loading .slick-slide {
    visibility: hidden;
}
.WMBSC[b-zgymt9fpr0]  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.WMBSC[b-zgymt9fpr0]  .slick-arrow.slick-hidden {
    display: none;
}
/* THEME */
.WMBSC[b-zgymt9fpr0]  .slick-loading .slick-list{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev,
.WMBSC[b-zgymt9fpr0]  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: calc(50% - 20px);
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    background-color: #4A5989;
    box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.3);
    z-index: 2;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev:hover,
.WMBSC[b-zgymt9fpr0]  .slick-prev:focus,
.WMBSC[b-zgymt9fpr0]  .slick-next:hover,
.WMBSC[b-zgymt9fpr0]  .slick-next:focus {
    outline: none;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev:hover:before,
.WMBSC[b-zgymt9fpr0]  .slick-prev:focus:before,
.WMBSC[b-zgymt9fpr0]  .slick-next:hover:before,
.WMBSC[b-zgymt9fpr0]  .slick-next:focus:before {
    opacity: 1;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev.slick-disabled:before,
.WMBSC[b-zgymt9fpr0]  .slick-next.slick-disabled:before {
    opacity: 0.25;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev:before,
.WMBSC[b-zgymt9fpr0]  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 15px;
    height: 30px;
    width: 30px;
    opacity: 0.75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev {
    left: 0;
}
.WMBSC[b-zgymt9fpr0]  [dir="rtl"] .slick-prev {
    right: 0;
    left: auto;
}
.WMBSC[b-zgymt9fpr0]  .slick-prev:before {
    content: "←";
}
.WMBSC[b-zgymt9fpr0]  [dir="rtl"] .slick-prev:before {
    content: "→";
}
.WMBSC[b-zgymt9fpr0]  .slick-next {
    right: 0;
}
.WMBSC[b-zgymt9fpr0]  [dir="rtl"] .slick-next {
    right: auto;
    left: 0;
}
.WMBSC[b-zgymt9fpr0]  .slick-next:before {
    content: "→";
}
.WMBSC[b-zgymt9fpr0]  [dir="rtl"] .slick-next:before {
    content: "←";
}
.WMBSC[b-zgymt9fpr0]  .slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.WMBSC[b-zgymt9fpr0]  .slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    text-align: center;
}
.WMBSC[b-zgymt9fpr0]  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.WMBSC[b-zgymt9fpr0]  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border-radius: 50%;
    background-color: #4A5989;
    opacity: 1;
}
.WMBSC[b-zgymt9fpr0]  .slick-dots li button:hover,
.WMBSC[b-zgymt9fpr0]  .slick-dots li button:focus {
    outline: none;
}
.WMBSC[b-zgymt9fpr0]  .slick-dots li.slick-active button {
    opacity: 0.5;
}
