@page "/basic"

<div>

    <h1>Blazor Slick Carousel Demo</h1>
    <h2>Basic usage implementation demo.</h2>

    <br><hr><br>

    <BlazorSlickCarousel>
        <BlazorSlickCarouselContent>
            <img src="https://loremflickr.com/400/400?random=14" alt="">
            <img src="https://loremflickr.com/400/400?random=15" alt="">
            <img src="https://loremflickr.com/400/400?random=16" alt="">
            <img src="https://loremflickr.com/400/400?random=17" alt="">
            <img src="https://loremflickr.com/400/400?random=18" alt="">
            <img src="https://loremflickr.com/400/400?random=19" alt="">
            <img src="https://loremflickr.com/400/400?random=20" alt="">
            <img src="https://loremflickr.com/400/400?random=21" alt="">
        </BlazorSlickCarouselContent>
        <BlazorSlickCarouselLoading>
            <p>Loading...</p>
        </BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>

    <br><hr><br>
    <BlazorSlickCarousel>
        <BlazorSlickCarouselContent>
            <img src="https://loremflickr.com/600/300?random=22" alt="">
            <img src="https://loremflickr.com/600/300?random=23" alt="">
            <img src="https://loremflickr.com/600/300?random=24" alt="">
            <img src="https://loremflickr.com/600/300?random=25" alt="">
            <img src="https://loremflickr.com/600/300?random=26" alt="">
            <img src="https://loremflickr.com/600/300?random=27" alt="">
            <img src="https://loremflickr.com/600/300?random=28" alt="">
            <img src="https://loremflickr.com/600/300?random=29" alt="">
        </BlazorSlickCarouselContent>
        <BlazorSlickCarouselLoading>
            <p>Loading...</p>
        </BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>

    <br><br><br>
    
</div>
