@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<BlazorSlickCarousel Configurations="configurations">
    <BlazorSlickCarouselContent>
        <div>Item 1 Car 1</div>
        <div>Item 2 Car 1</div>
        <div>Item 3 Car 1</div>
        <div>Item 4 Car 1</div>
        <div>Item 5 Car 1</div>
    </BlazorSlickCarouselContent>
    <BlazorSlickCarouselLoading>Carregando...</BlazorSlickCarouselLoading>
</BlazorSlickCarousel>

<div class="dots"></div>
<div class="arrows"></div>

@code {
    public WMBSCInitialSettings configurations;
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        configurations = new WMBSCInitialSettings {
            arrows = true,
            dots = true,
            slidesToShow = 2,
            slidesToScroll = 1,
            infinite = true,
            appendDots = ".dots",
            appendArrows = ".arrows"
        };
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
