@page "/html-content"

<div>
    <h1>Blazor Slick Carousel Demo</h1>
    <h2>Html content implementation demo.</h2>

    <br><hr><br>

    <BlazorSlickCarousel Configurations="configurations">
        <BlazorSlickCarouselContent>
            <div>
                <div>Test 1</div>
            </div>
            <div>
                <div>Test 2</div>
            </div>
            <div>
                <div>Test 3</div>
            </div>
            <div>
                <div>Test 4</div>
            </div>
        </BlazorSlickCarouselContent>
        <BlazorSlickCarouselLoading>Carregando...</BlazorSlickCarouselLoading>
    </BlazorSlickCarousel>

    <br><hr><br>
    <h3>Here I am using custom <code>appendDots</code> and <code>appendArrows</code> elements</h3>
    <div class="dots"></div>
    <div class="arrows"></div>

    <br><br><br>

</div>

@code {
    public WMBSCInitialSettings configurations;

    protected override void OnInitialized()
    {
        configurations = new WMBSCInitialSettings {
            arrows = true,
            dots = true,
            slidesToShow = 2,
            slidesToScroll = 1,
            infinite = true,
            appendDots = ".dots",
            appendArrows = ".arrows"
        };
    }
}
