@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<BlazorSlickCarousel>
    <BlazorSlickCarouselContent>
        <img src="https://loremflickr.com/540/240?random=1" alt="">
        <img src="https://loremflickr.com/540/240?random=2" alt="">
        <img src="https://loremflickr.com/540/240?random=3" alt="">
        <img src="https://loremflickr.com/540/240?random=4" alt="">
        <img src="https://loremflickr.com/540/240?random=5" alt="">
        <img src="https://loremflickr.com/540/240?random=6" alt="">
    </BlazorSlickCarouselContent>
</BlazorSlickCarousel>

<hr>

<BlazorSlickCarousel>
    <BlazorSlickCarouselContent>
        <div>Item 1 Car 2</div>
        <div>Item 2 Car 2</div>
        <div>Item 3 Car 2</div>
    </BlazorSlickCarouselContent>
    <BlazorSlickCarouselLoading>
        <h2>Carregando o carousel...</h2>
    </BlazorSlickCarouselLoading>
</BlazorSlickCarousel>

<SurveyPrompt Title="How is Blazor working for you?" />
