@page "/"
@page "/home"

<div>

    <h1>Blazor Slick Carousel Demo</h1>
    <p>It is a responsive carousel component for Blazor Wasm and Blazor Server aplications.</p>
    <h2>Basic implementation demo.</h2>

    <br><hr><br>

    <h3>Documentation:</h3>
    <p>
        <a href="https://github.com/welisonmenezes/wm-blazor-slick-carousel" target="_blank">
            https://github.com/welisonmenezes/wm-blazor-slick-carousel
        </a>
    </p>

    <h3>Nuget Package</h3>
    <p>
        <a href="https://www.nuget.org/packages/WMBlazorSlickCarousel/" target="_blank">
            https://www.nuget.org/packages/WMBlazorSlickCarousel/
        </a>
    </p>

    <br><br><br>
    
</div>
